* {
	margin: 0;
}

input {
	height: 30px;
}

.app-name {
	background-color: black;
	color: white;
	font-size: 500%;
	text-align: center;
}

.users-wrapper {
	margin-top: 5%;
}

.users-wrapper * {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.user-name {
	font-size: 200%;
	margin: 2% 0;
}

.new-user-form * {
	display: flex;
	height: 30px;
	margin: 2%;
	width: 20%;
}

.new-user-form :nth-child(2) {
	width: 10%;
}

.nav {
	display: flex;
	justify-content: space-between;
}

.delete {
	height: 40px;
	width: 80px;
}

.users-dashboard {
	font-size: 300%;
	text-align: center;
}

.current-funds-display {
	display: flex;
	font-size: 200%;
	justify-content: center;
	margin: 2% 0;
}

.current-funds-display * {
	margin: 0 2%;
}

.add-cash {
	border: solid black 2px;
	border-radius: 20px;
	font-size: 50%;
	padding: 2px;
	text-align: center;
	width: 50px;
}

.edit-current-funds {
	align-items: center;
	display: flex;
	justify-content: center;
	margin-bottom: 2%;
}

.edit-current-funds * {
	margin: 5px;
}

.edit-current-funds :nth-child(2) {
	margin-right: 2%;
}

.account-wrapper {
	display: flex;
	flex-wrap: wrap;
}

.account {
	border: solid black 2px;
	box-sizing: border-box;
	font-size: 120%;
	margin: 1%;
	padding: 1%;
	width: 22.5%;
}