* {
	margin: 0;
}

body {
	background-image: url("http://wallpapercave.com/wp/tclDQyy.png");
	background-size: cover;
	font-family: 'Bubbler One', sans-serif;
}

a {
	color: black;
}

input {
	height: 25px;
}

.app-name {
	background-color: black;
	color: white;
	font-size: 500%;
	padding-left: 2%;
}

.users-wrapper {
	margin-top: 5%;
}

.users-wrapper * {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.user-name {
	font-size: 200%;
	margin: 2% 0;
}

.new-user-form * {
	display: flex;
	height: 30px;
	margin: 2%;
	width: 20%;
}

.new-user-form :nth-child(2) {
	width: 10%;
}

.nav {
	display: flex;
	justify-content: space-between;
	margin-top: 1%;
}

.nav * {
	margin: 0 1%;
}

.delete {
	height: 40px;
	width: 80px;
}

.users-dashboard {
	font-size: 200%;
	text-align: center;
}

.current-funds-display {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 1%;
	text-align: center;
	width: 100%;
}

.add-cash-header :nth-child(2) {
	font-size: 250%;
	width: 100%;
}

.add-cash-header :nth-child(3) {
	font-size: 140%;
}

.summary {
	text-align: right;
	width: 10%;
}

.add-cash-header {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding-right: 10%;
	width: 80%;
}

.add-cash {
	border: solid black 2px;
	border-radius: 20px;
	font-size: 100%;
	height: 20px;
	margin: 0 45%;
	padding: 2px;
	text-align: center;
	width: 10%;
}

.edit-current-funds {
	align-items: center;
	display: flex;
	justify-content: center;
	margin: 2% 0;
}

.edit-current-funds * {
	margin: 5px;
}

.edit-current-funds :nth-child(2) {
	margin-right: 2%;
}

.account-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-top: 1%;
}

.account, .new-account {
	border: solid black 3px;
	border-radius: 50px;
	box-sizing: border-box;
	font-size: 120%;
	margin: 0.5%;
	padding: 1%;
	width: 15.5%;
}

.new-account {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.new-account * {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 75%;
}

.account-header {
	border-bottom: solid black 2px;
	display: flex;
	flex-wrap: wrap;
	height: 200px;
	width: 100%;
}

.account-name {
	align-items: center;
	background-color: black;
	border-radius: 30px 30px 0 0;
	color: white;
	display: flex;
	flex-wrap: wrap;
	font-size: 150%;
	justify-content: center;
	width: 100%;
}

.goal-and-current {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 100%;
}

.current {
	align-items: center;
	border-bottom: solid black 2px;
	display: flex;
	font-size: 200%;
	height: 40%;
	justify-content: center;
	width: 100%;
}

.goal {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.goal :nth-child(1), .goal :nth-child(2) {
	text-align: center;
	width: 100%;
}

.goal-date {
	font-size: 80%;
}

.goal button {
	margin-bottom: 5px;
}

.edit-box {
	display: flex;
}

.edit-box :nth-child(1) {
	width: 75%;
}

.new-w-and-d {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.new-w, .new-d {
	align-content: center;
	border-radius: 10%;
	display: flex;
	flex-wrap: wrap;
	height: 160px;
	justify-content: center;
	margin: 2%;
	width: 96%;
}

.new-w {
	background-color: #f09;
	height: 160px;
}

.new-d {
	background-color: #0fa;
	height: 80px;
	margin-top: 5%;
}

.new-w form *, .new-d form * {
	text-align: center;
	width: 100%;
}

.new-w *, .new-d *{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 88%;
}

.new-w button, .new-d button {
	width: 50%;
}

.account-footer {
	display: flex;
	justify-content: space-between;
}

.okay {
	background-color: green;
}

.new-user-button {
	font-size: 200%;
}

.welcome {
	font-size: 150%;
}

.list-title {
	background-color: black;
	box-sizing: border-box;
	color: white;
	font-size: 200%;
	padding-left: 2%;
}

.list-item {
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	font-size: 150%;
	justify-content: space-around;
}

.list-item-fields {
	display: flex;
	flex-wrap: wrap;
	width: 75%;
}

.list-item-fields div {
	width: 33%;
}

.searchbar {
	display: flex;
	justify-content: center;
	margin: 2% 0;
}

.search-field {
	width: 30%;
}

@media (max-width: 610px) {
	.account, .new-account {
		margin: 3%;
		width: 94%;
	}

	.searchbar {
		margin: 4% 0;
	}

	.search-field {
		width: 75%;
	}

	.list-item {
		border-bottom: dotted 1px black;
		padding: 0 2%;
	}

	.list-item-fields div {
		width: 100%;
	}

	.list-item button {
		align-self: center;
		height: 50px;
	}
}

@media (min-width: 611px) and (max-width: 1024px) {
	.account, .new-account {
		width: 48%;
	}

	.list-item-fields div:nth-child(1), .list-item-fields div:nth-child(2) {
		width: 25%;
	}

	.list-item-fields div:nth-child(3) {
		width: 50%;
	}

	.search-field {
		width: 75%;
	}
}
