<div class="nav">
	<p><a ui-sref="welcome">&lt&ltHome</a></p>
	<button ng-click="vm.destroy()">Delete User</button>
</div>

<div class="users-dashboard">{{vm.user.name}}'s Dashboard</div>

<div class="current-funds-display">
	<div>Cash to cache: {{vm.user.current_funds}}</div>
	<div>From: {{vm.user.source}}</div>
</div>

<form class="edit-current-funds" ng-submit="vm.update()">
	<p>current funds</p><input type="number" ng-model="vm.user.current_funds">
	<p>from</p><input type="text" ng-model="vm.user.source">
	<button type="submit">submit</button>
</form>








<div class="account-wrapper">
<div class="account" data-ng-repeat="account in vm.user.accounts">
	<p><a ui-sref="show({name: vm.user.name, id: account._id})">Account Name: {{account["name"]}}</a></p>
	<p>Goal Date: {{account["goal_date"]}}</p>
	<p>Goal Amount: {{account["goal_amount"]}}</p>
	<p>Current Amount: {{account["current_amount"]}}</p>
	


<h4>new withdrawals and deposits</h4>
	<form ng-submit="vm.withdraw(account)">
		<input type="text" ng-model="vm[account.name].newWithdrawal.name" placeholder="withdrawal for">
		<input type="number" ng-model="vm[account.name].newWithdrawal.amount" placeholder="amount spent">
		<button type="submit">submit</button>
	</form>


	<form ng-submit="vm.deposit(account)">
		<input type="number" ng-model="vm[account.name].newDeposit.amount" placeholder="amount received">
		<button type="submit">submit</button>
	</form>
	<p>Status: {{account["status"]}}</p>
</div>
</div>
<h2>new account</h2>

<form ng-submit="vm.create()">
	<input type="text" ng-model="vm.newAccount.name" placeholder="Account Name">
	<input type="number" ng-model="vm.newAccount.goal_amount" placeholder="Goal Amount">
	<input type="number" ng-model="vm.newAccount.current_amount" placeholder="Current Amount">
	<input type="text" ng-model="vm.newAccount.goal_date" placeholder="Goal Date">
	<button type="submit">submit</button>
</form>


