<div class="nav">
	<p><a ui-sref="welcome">&lt&ltHome</a></p>
	<div class="users-dashboard">{{vm.user.name}}'s Dashboard</div>
	<!-- <button class="delete" ng-click="vm.destroy()">Delete User</button> -->
</div>

<div class="current-funds-display">
	<div ng-click="showSummary = !showSummary">Summary</div>
	<div class="summary" ng-show="showSummary" ng-init="total = 0">
		<div data-ng-repeat="account in vm.user.accounts">
			{{account["name"]}}  :  {{account["current_amount"]}}
			<div ng-init='$parent.total = $parent.total + account["current_amount"]'></div>
		</div>
		<hr />
		<div>${{total}}</div>
	</div>
	<div class="add-cash-header">
		<div class="add-cash" ng-click="show = !show">Add Cash</div>
		<div>Incoming Cash: ${{vm.user.current_funds}}</div>
	</div>
</div>

<form class="edit-current-funds" ng-show="show" ng-submit="vm.update()">
	<p>Amount</p><input type="number" ng-model="vm.user.current_funds">
	<p>Source</p><input type="text" ng-model="vm.user.source">
	<button type="submit" ng-click="show = !show">submit</button>
</form>

<div class="account-wrapper">
	<div class="account" data-ng-repeat="account in vm.user.accounts">
		<div class="account-header">
			<div class="account-name" ng-click="showAccount = !showAccount">{{account["name"]}}</div>
			<div class="goal-and-current">
				<div class="current">
					<div>${{account["current_amount"]}}</div>
				</div>
				<div class="goal">
					<div>Goal: ${{account["goal_amount"]}}</div>
					<div>
						<div class="goal-date">{{account["goal_date"]}}</div>
						<div class="edit-note" ng-click="showEditBox = !showEditBox"></div>
						<form class="edit-box" ng-show="showEditBox" ng-submit="vm.updateAccount(account)">
							<input type="string" ng-model="vm[account.name].goal_date" placeholder="enter note">
							<button type="submit">submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="new-w-and-d" ng-show="showAccount">
			<div class="new-d">
				<p>Deposit</p>
				<form ng-submit="vm.deposit(account)">
					<input type="number" ng-model="vm[account.name].newDeposit.amount" placeholder="amount received">
					<button type="submit">submit</button>
				</form>
			</div>
			<div class="new-w">
				<p>Withdrawal</p>
				<form ng-submit="vm.withdraw(account)">
					<input type="number" ng-model="vm[account.name].newWithdrawal.amount" placeholder="amount spent">
					<input type="text" ng-model="vm[account.name].newWithdrawal.name" placeholder="for">
					<input type="date" ng-model="vm[account.name].newWithdrawal.date" placeholder="for">
					<button type="submit">submit</button>
				</form>
			</div>
		</div>
		<div class="account-footer">
			<div ng-class="account.status">{{account["status"]}}</div>
			<div><a ui-sref="show({name: vm.user.name, id: account._id})">log</a></div>
		</div>
	</div>


<div class="new-account">
	<p>New Account</p>
	<form ng-submit="vm.create()">
		<input type="text" ng-model="vm.newAccount.name" placeholder="Account Name">
		<input type="number" ng-model="vm.newAccount.current_amount" placeholder="Current Amount">
		<input type="number" ng-model="vm.newAccount.goal_amount" placeholder="Goal Amount">
		<input type="text" ng-model="vm.newAccount.goal_date" placeholder="Goal Date">
		<button type="submit">submit</button>
	</form>
</div>
</div>






