<div>account: {{vm.account.name}}</div>

	<h4>Edit Account</h4>
	<form ng-submit="vm.updateAccount()">
		<p>Name: <input type="text" ng-model="vm.account.name" value="vm.account.name"></p>
		<p>Goal Amount: <input type="number" ng-model="vm.account.goal_amount" value="vm.account.goal_amount"></p>
		<p>Current Amount: <input type="number" ng-model="vm.account.current_amount" value="vm.account.current_amount"></p>
		<p>Goal Date: <input type="text" ng-model="vm.account.goal_date" value="vm.account.goal_date"></p>
		
		<button type="submit">submit</button>
	</form>

<h2>withdrawals</h2>
	<div data-ng-repeat="withdrawal in vm.account.withdrawals">
		<div>{{withdrawal.name}}</div>
		<div>{{withdrawal.amount}}</div>
		<div>{{withdrawal.date}}</div>
	</div>

<h2>deposits</h2>
	<div data-ng-repeat="deposit in vm.account.deposits">
		<div>{{deposit.name}}</div>
		<div>{{deposit.amount}}</div>
		<div>{{deposit.date}}</div>
	</div>



